@import "reset.css";
@font-face{
	font-family: "Futura";
	src: url("resources/fonts/futura.ttf");
}

a{
	text-decoration: none;
	color: inherit;
}

body{
    background-image: url("resources/honey.png"), url("resources/shattered.png"), url("resources/bg.png");
}

.header{
	z-index: 2;
	width: 100%;
	max-height: 10%;
	position: fixed;
	float: left;
	font-family: "Futura", Verdana, sans-serif;
	font-weight: bold;
	font-size: 1em;
	color: #2b2f3e;
	background-color: rgba(0,205,177,1);
	box-shadow: 0px 5px 40px 5px #222;
	overflow: hidden;
}

.header #navleft{
	padding: 15px;
}

.header #navright{
	padding: 15px;
}

#navleft{
	list-style: none;
	float: left;
	margin-top: 4px;
}

#navleft a:hover{
	color: white;
	padding : 13px 0px;
	border-bottom: 2px solid teal;
	text-shadow: 0px 0px 10px white;
}

#navright{
	list-style: none;
	display: inline;
	float: right;
	margin-right: 50px;
}

#navright a:hover{
	color: white;
	padding : 12px 0px;
	/*border-bottom: 2px solid teal;*/
}

#judul{
	padding-top: 130px;
	width: 100%;
	height: 250px;
	background-image: url("resources/main-visual.jpg");
	background-size: 100%;
	background-position: 0% 20%;
	font-size: 4.3em;
	font-family: "Futura", sans-serif;
	font-weight: bold;
	color: white;
	text-align: center;
	text-shadow: 0px 0px 10px black;
}

#judul-galeri{
	padding-top: 130px;
	width: 100%;
	height: 250px;
	background-image: url("resources/sketching.jpg");
	background-size: 100%;
	background-position: 0% 75%;
	background-repeat: no-repeat;
	font-size: 4.3em;
	font-family: "Futura", sans-serif;
	font-weight: bold;
	color: white;
	text-align: center;
	text-shadow: 0px 0px 10px black;
}

#judul-musik{
	padding-top: 130px;
	width: 100%;
	height: 250px;
	background-image: url("resources/Headphones-Gray-Music.jpg");
	background-size: 100%;
	background-position: 0% 60%;
	background-repeat: no-repeat;
	font-size: 4.3em;
	font-family: "Futura", sans-serif;
	font-weight: bold;
	color: white;
	text-align: center;
	text-shadow: 0px 0px 10px black;
}

#judul-literatur{
	padding-top: 130px;
	width: 100%;
	height: 250px;
	background-image: url("resources/writing.jpg");
	background-size: 100%;
	background-position: 0% 60%;
	background-repeat: no-repeat;
	font-size: 4.3em;
	font-family: "Futura", sans-serif;
	font-weight: bold;
	color: white;
	text-align: center;
	text-shadow: 0px 0px 10px black;
}

#judul-video{
	padding-top: 130px;
	width: 100%;
	height: 250px;
	background-image: url("resources/video.jpg");
	background-size: 100%;
	background-position: 0% 50%;
	background-repeat: no-repeat;
	font-size: 4.3em;
	font-family: "Futura", sans-serif;
	font-weight: bold;
	color: white;
	text-align: center;
	text-shadow: 0px 0px 10px black;
}

#judul-lainnya{
	padding-top: 130px;
	width: 100%;
	height: 250px;
	background-image: url("resources/lainnya.jpg");
	background-size: 100%;
	background-position: 0% 50%;
	background-repeat: no-repeat;
	font-size: 4.3em;
	font-family: "Futura", sans-serif;
	font-weight: bold;
	color: white;
	text-align: center;
	text-shadow: 0px 0px 10px black;
}

#ukdw{
	font-size: 0.7em;
	color: inherit;
}

.nav{
	display: inline;
	margin-right: 5px;
	margin-left: 5px;
}

.kategori{
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 2em;
	font-family: Verdana;
	font-weight: bold;
	color: #111;
	background-color: rgba(130,184,230,0.5);
	text-align: center;
}

.kategori1{
	padding: 12px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 12px;
	font-family: Verdana;
	font-weight: bold;
	color: #111;
	border-radius: 10px;
	background-color: rgba(200,200,200,0.5);
	text-align: center;
	display: inline-block;
}

.kategori1:hover{
	background-color: rgba(150,150,150,0.5);
}

.kategori1_2{
	padding: 12px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 12px;
	font-family: Verdana;
	font-weight: bold;
	color: #111;
	border-radius: 10px;
	background-color: rgba(200,200,200,0.5);
	text-align: center;
	display: inline-block;
}

.kategori1_2:hover{
	background-color: rgba(150,150,150,0.5);
}

.notif{
	margin-top: 20px;
	font-size: 20px;
	font-family: Verdana;
	font-weight: bold;
	color: white;
	display: block;
}

.kategori a:hover{
	color: white;
	text-shadow: 0px 0px 15px white;
}

#galeri-index{
	width: 95%;
	margin-left: 2%;
}

.galeri-image td{
	width: 25px;
	height: 25px;
	border-left: 5px solid rgba(130,184,230,0.5);
	border-right: 5px solid rgba(130,184,230,0.5);
	text-align : center;
}

.galeri-image td img{
	padding: 5px;
	max-width: 250px;
	max-height: 250px;
	vertical-align: middle;
}

#musik-index{
	width: 95%;
	margin-left: 2%;
}

.musik-icon img{
	max-width: 250px;
	width: 200px;
	padding: 0px 25px;
}

.musik-lagu td{
	max-width: 250px;
	max-height: 250px;
}

#artikel-index{
	width: 95%;
	margin-left: 2%;
}

.artikel-icon td{
	width: 25px;
	height: 25px;
	border-left: 5px solid rgba(130,184,230,0.5);
	border-right: 5px solid rgba(130,184,230,0.5);
	text-align : center;
}

.artikel-icon td img{
	max-width: 250px;
	width: 200px;
	padding: 0px 25px;
}

#lain-index{
	width: 95%;
	margin-left: 2%;
}

.lain-icon td{
	width: 25px;
	height: 25px;
	border-left: 5px solid rgba(130,184,230,0.5);
	border-right: 5px solid rgba(130,184,230,0.5);
	text-align : center;
}

.lain-icon td img{
	max-width: 250px;
	width: 200px;
	padding: 0px 25px;
}

audio{
	max-width: 250px;
	max-height: 250px;
}

.showcase-title td{
	text-align: center;
	color: white;
	padding: 20px 5px;
	font-family: Verdana;
	font-size: 1em;
}

.showcase-title a:hover{
	text-decoration: underline;
}

.showcase-author td{
	text-align: center;
	color: white;
	padding-bottom: 15px;
	font-family: Verdana;
	font-size: 0.8em;
	color: #AAA;
	vertical-align: center;
}

.showcase-author td a{
	font-size: 1.1em;
	font-weight: bold;
	color: lightblue;
}

.selengkapnya{
	padding-bottom: 15px;
	font-family: Verdana;
	font-size: 1.1em;
	font-weight: bold;
	color: yellow;
	text-align: right;
	vertical-align: top;
}

.selengkapnya a:hover{
	text-shadow: 0px 0px 15px yellow;
}

.button a{
	color: white;
	text-decoration: none;
	position: absolute;
	border: 6px solid lightblue;
	background-color: lightblue;
}

.button a:hover{
	color: white;
	text-decoration: none;
	position: absolute;
	border: 6px solid darkblue;
	background-color: darkblue;
}

#breadcrumbs a{
	text-decoration: none;
}

body
{
    margin: 0;
    padding: 0;
}

/*login page*/

#login{
	font-family: sans-serif;
	max-width: 340px;
	margin: 100px auto;
	background: #f9f9f9;
	box-shadow: 0px 0px 10px #111;
}

#login h3{
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	padding: 25px 10px;
	background-color: #2b2f3e;
	color: #b0b0bc;
}

fieldset{
    margin: 0;
    border: none;
}

form{
    padding: 0;
    margin: 0;
    padding: 15px;
}

#isi input[type='text']{
    width: 90%;
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #888;
}

#isi input[type='password']{
    width: 90%;
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #888;
}

#login-submit{
	font-weight: bold;
	width: 100%;
	padding: 1.4em;
	margin: 1.5em 0;
	color: #888;
	background-color: #00cdb1;
	border: none;
	color: #eee;
	border-bottom: 4px solid transparent;
}

#login-submit:hover{
    color: #2b2f3e;
    opacity: 0.8;
    box-shadow: 0px 0px 5px #aaa;
}

form p{
    text-align: center;
    color: #888;
    width: 30px;
    margin: 10px auto 0;
    background: #f9f9f9;
    position: relative;
    bottom: 20px;
}

button{
    background-color: #3b5998;
    width: 100%;
    padding: 1.4em;
    margin-bottom: 1em;
    color: #888;
    border:none;
    color:#eee;
    border-bottom: 4px solid transparent;
}

button:hover{
    opacity: 1;
    border-color: #3b3998;
}

.login-append{
	text-decoration: none;
	font-size: 0.75em;
	color: indigo;
}

.login-append:visited{
	text-decoration: none;
	color: indigo;
}

/*footer*/

footer{
	margin-top: 50px;
	padding: 10px 0px 5px 0px;
	border-top: 1px #2b2f3e solid;
	background-color: rgba(0,128,128,1);
	font-family: "Futura";
	font-size: 0.8em;
	text-align: center;
}

footer a{
	text-decoration: underline;
	color: lightblue;
}

#forgot{
	font-family: "Futura", sans-serif;
	max-width: 340px;
	margin: 100px auto;
	background: #f9f9f9;
	box-shadow: 0px 0px 10px #AAA;
}

#forgot h3{
	font-size: 1em;
	text-align: center;
	padding: 25px 10px;
	background-color: #2b2f3e;
	color: #b0b0bc;
}

/* Help */
.text {
	padding-top: 100px;
	padding-left: 20px;
	font-family: "Futura", Verdana;
	color: white;
}

.text h3{
	font-size: 3em;
	padding-bottom: 15px;
}

/* Padding Universal */
.padding {
	padding-left: 3%;
	padding-right: 3%;
}

.profil{
	margin: 0px 20px;
	padding-top: 90px;
	padding-left: 10px;
	padding-bottom: 30px;
	background-color: rgba(100,100,100,0.7);
	font-family: "Futura",sans-serif;
}

.editprofile{
	color: black;
}

.isiform{
	border-radius: 5px;
	border-top: 2px solid white;
	border-left: 2px solid white;
}

.profil h1{
	font-size: 2.5em;
	padding-bottom: 15px;
}

.foto{
	padding: 5px 10px;
	display: inline-block;
}

.foto img{
	margin-bottom: 5px;
	max-width: 200px;
	height: auto;
	display: block;
	border: 1px solid black;
}

.foto_gambar{
	padding: 5px 10px;
	display: inline-block;
}

.foto_gambar img{
	margin-bottom: 5px;
	max-width: 60%;
	height: auto;
	display: block;
	border: 1px solid black;
}

.ganti{
	margin: 5px 0px;
	display: inline-block;
	font-family: sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}

.ganti:hover{
	text-decoration: underline;
}

.overhead{
	margin-left: 10px;
	padding: 5px 5px;
	padding-left: 15px;
	vertical-align: top;
	display: inline-block;
	border-left: 4px  rgba(0,0,0,0.6);
}

.overhead p{
	margin-bottom: 5px;
}

.overhead h1{
	padding-bottom: 5px;
	color: black;
	font-size: 3em;
	font-weight: bold;
}

.overhead h3{
	padding-bottom: 5px;
	font-size: 1.5em;
}

.overhead h5{
	padding-right: 5px;
	max-height: 25px;
	overflow: hidden;
	font-size: 1em;
	font-style: italic;
}

.profil-karya {
	border-radius: 10px;
	margin: 20px;
	padding: 10px;
	background-color: #eeeeee;
	font-family: "Futura", Verdana;
	color: white;
}

.profil-karya h3{
	font-size: 2.5em;
	padding-bottom: 15px;
}

/* Profil Hover */

#navright .dropbtn {
	display: inline;
	margin-right: 5px;
	margin-left: 5px;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgba(0,205,177,1);
	font-family: "Futura", Verdana, sans-serif;
	font-weight: bold;
	font-size: 1em;
	color: #2b2f3e;
    border: none;
    cursor: pointer;
	padding : 0px 0px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    color: white;
	padding-bottom:  10px;
	border-bottom: 2px solid teal;
	text-shadow: 0px 0px 10px white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: fixed;
    display: inline;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    margin-right: 26px;
    margin-left: 2px;
    margin-top: 1px;
    float: left;
    background-color: #f1f1f1;
    min-width: 103px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding : 12px 0px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #4f4f4f;
	padding: 12px 0px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.menuhide{
	display: none
}

.menushow{
	display: inline;
}

.profil-bio{
	background-color: blue;
}

.setting-right{
	height: 350px;
	width: 60%;
	float: left;
	display: inline-block;
	margin-top: 100px;
	font-family: "Futura", Verdana, sans-serif;
	font-weight: bold;
	font-size: 1em;
	background-color: rgba(255,255,255, 0.1);
	margin-left: 20px;
	text-align: right;
	border-radius: 5px;
}

.setting-left{
	height: 350px;
	width: 20%;
	float: left;
	display: inline-block;
	margin-top: 100px;
	font-family: "Futura", Verdana, sans-serif;
	font-weight: bold;
	font-size: 1em;
	background-color: white;
	margin-right: 20px;
	border: 5px solid white;
	border-radius: 5px;
}

.setting-cat{
	margin: 10px;
}

.formfill{
	margin: 10px;
}

.formfill tr td label{
	margin: 10px;
	color: white;
}

.formfill tr td{
	color: white;
}

.formfill tr td input{
	margin: 10px;
}

.formfill tr td span{
	text-align: left;
}

.table-normal{
	width: 95%;
	margin: 20px;
	box-shadow: 0px 5px 40px 5px rgba(0,0,0,0.1);
}

.table-normal thead td{
	padding: 10px;
	border: 2px solid white;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(0,0,0,0.5);
	font-weight: bold;
}

.table-normal tbody tr td{
	padding: 10px;
	border: 2px solid white;
	text-align: center;
	vertical-align: middle;
}

.even td{
	color : black;
	background-color: rgba(255,255,255,0.3);
}

.even a:hover{
	text-decoration: underline;
}

.odd td{
	color : black;
	background-color: inherit;
}

.odd a:hover{
	text-decoration: underline;
}

.pending{
	background-color: red;
}
